.header{
    background-color: var(--background2);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.header > div{
    max-width: 1200px;
    height: 88px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header > div > a > img{
    height: 75px;
    width: auto;
}

.header > div > nav > ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}

.header > div > nav > ul li a{
    font-weight: 400;
}

.header > div > nav > ul li a:hover{
    color: #189ebf;
    transition: 0.2s ease;
}

.header > div > nav > ul li:last-child{
    display: none;
}

.header > div > button{
    display: none;
}

@media only screen and (max-width: 1215px) {
    .header > div{
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 685px) {
    .header > div{
        flex-direction: row-reverse;
    }

    .header > div > a > img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .header > div > button{
        display: block;
        border: none;
        background: none;
    }

    .header > div > button img{
        width: 35px;
        height: auto;
    }

    .header > div > nav{
        position: fixed;
        top: 0;
        left: -2000px;
        width: 100%;
        height: 100vh;
        background-color: #ffff;
        padding: 30px;
        z-index: 9999;
    }

    .header > div > nav > ul{
        width: 95%;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }

    .header > div > nav > ul li a{
        font-size: 18px;
    }

    .header > div > nav > ul li:last-child{
        display: block;
    }

    .header > div > nav > ul li:last-child button{
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        background: none;
        border: none;
    }

    .header > div > nav > ul li:last-child button img{
        width: 35px;
        height: auto;
    }
}