.hero > div:nth-of-type(1){
    background: #189ebf;
    height: 650px;
    position: relative;
}

.hero > div:nth-of-type(1) > section{
    position: absolute;
    text-align: center;
    margin: auto;
    max-width: 1200px;
    left: 0;
    right: 0;
    top: 50px;
    color: #ffff;
    z-index: 99999;
}

.hero > div:nth-of-type(1) > section h1{
    font-size: 48px;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 25px;
}

.hero > div:nth-of-type(1) > section p{
    font-size: 20px;
    width: 50%;
    margin: auto;
}

.hero > div:nth-of-type(1) > section > section{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 0 15px;
}

.hero > div:nth-of-type(1) > section > section a img{
    margin: 25px auto;
    width: 175px;
    height: auto;
}

.hero > div:nth-of-type(1) > section > section a:last-child{
    background-color: #036A6E;
    padding: 0 15px;
    height: 55px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.hero > div:nth-of-type(1) > section > section a:last-child:hover{
    background-color: #1c8f94;
    transition: 0.2s ease;
}

.hero > div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: -275px;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
}

.hero > div:nth-of-type(2) img{
    width: 200px;
    height: auto;
}

.hero > div:nth-of-type(2) img:nth-of-type(2){
    width: 225px;
}

@media only screen and (max-width: 1215px) {
    .hero > div:nth-of-type(1){
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 685px) {
    .hero > div:nth-of-type(1){
        height: 600px;
    }

    .hero > div:nth-of-type(1) > section h1{
        font-size: 35px;
    }

    .hero > div:nth-of-type(1) > section p{
        width: 90%;
        font-size: 18px;
    }

    .hero > div:nth-of-type(2){
        gap: 0;
        justify-content: space-evenly;
        margin-top: -225px;
    }

    .hero > div:nth-of-type(2) img{
        width: 150px;
    }

    .hero > div:nth-of-type(2) img:nth-of-type(2){
        width: 185px;
    }
}

@media only screen and (max-width: 490px) {
    .hero > div:nth-of-type(1){
        height: 500px;
    }

    .hero > div:nth-of-type(2){
        margin-top: -150px;
    }

    .hero > div:nth-of-type(2) img{
        width: 125px;
    }
    
    .hero > div:nth-of-type(2) img:nth-of-type(2){
        width: 150px;
    }
}

@media only screen and (max-width: 420px) {
    .hero > div:nth-of-type(2) img{
        width: 110px;
    }
    
    .hero > div:nth-of-type(2) img:nth-of-type(2){
        width: 140px;
    }
}